<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Input Field</title>
</head>
<body>
<div class="centre">
  <mat-form-field [style.width.px]=300 class="example-full-width borderNormal" appearance="standard">
    <mat-label>Field Input Text</mat-label>
    <input matInput >
  </mat-form-field>
  <br>
  <mat-form-field [style.width.px]=300 class="example-full-width borderNormal" appearance="standard">
    <mat-label>Field Label</mat-label>
    <input matInput >
  </mat-form-field>
  <br>
  <mat-form-field [style.width.px]=300 class="example-full-width borderRed" appearance="standard">
    <mat-label style="color: #ff726f">Field Input Text</mat-label>
    <input matInput style=" color: #ff726f">
  </mat-form-field>

</div>
</body>
</html>
